version: '3.9'

services:
  traefik:
    command:
      - "--log.level=WARN"
      - "--accesslog.filepath=/var/log/traefik/access.log"
    volumes:
      - ./logs/traefik:/var/log/traefik

  core-service:
    environment:
      NODE_ENV: production
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M

  media-service:
    environment:
      GO_ENV: production
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M

  hasura:
    environment:
      HASURA_GRAPHQL_ENABLE_CONSOLE: "false"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M

  postgres:
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
        reservations:
          cpus: '1'
          memory: 1G
