http:
  middlewares:
    # JWT Authentication
    jwt-auth:
      plugin:
        jwt:
          secret: ${JWT_SECRET}
          alg: HS256
          required: true
          
    # CORS
    cors:
      headers:
        accessControlAllowMethods:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
          - OPTIONS
        accessControlAllowOriginList:
          - https://mikeodnis.dev
          - https://www.mikeodnis.dev
        accessControlAllowHeaders:
          - "*"
        accessControlExposeHeaders:
          - Content-Length
          - X-Request-ID
        accessControlAllowCredentials: true
        accessControlMaxAge: 86400
        
    # Security Headers
    security-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true
        sslRedirect: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000
        customResponseHeaders:
          X-Request-ID: "{{ .RequestID }}"
          
    # Compression
    compress:
      compress: {}
      
    # Rate limiting (global)
    global-ratelimit:
      rateLimit:
        average: 1000
        burst: 500
        period: 1m
